# ignore all files .pyc
*.pyc
# ignore folder containing Python 3 bytecode compiled and ready to be executed.
__pycache__
# ignore db sqlite
db.sqlite3
# ignore log file
*.log

node_modules/
package-lock.json
