# ignore all files .pyc
*.pyc
# ignore folder containing Python 3 bytecode compiled and ready to be executed.
__pycache__
# ignore db sqlite
db.sqlite3
# ignore log file
*.log
# ignore logs folder
logs/
# ignore dumps folder
dumps/

node_modules/
package-lock.json

masterenvpy3
setenv.sh
static/