h1 a {
    color: #FCA205;
}

body {
    padding-left: 15px;
}

#nameProduct{
    display:none;
}

/* 
*   css inside <div class="grid_generator">
*/
#input_grid { 
    background-color: yellow;
    margin-left: 15px;
}

#input_grid2 { 
    background-color: yellow;
    margin-left: 65px;
}

input[type="number"] {
    width: 200px;
}

/* select first 2 div inside class grid_generator*/
.grid_generator div:nth-child(-n+3){
    font-weight: bold;
}

/*
*   css table generated
*/

.header::after {
    font-weight: bold;
}

td {
    min-width: 80px;
}

#btn_calculate {
    display:none;
}

#slurry-div {
    display:none;
}