h1 a {
    color: #FCA205;
}

body {
    padding-left: 15px;
}

/* 
* css inside <div class="grid_generator">
*/
#input_grid { 
    background-color: yellow;
    margin-left: 15px;
}

#input_grid2 { 
    background-color: yellow;
    margin-left: 65px;
}

/* select first 2 div inside class grid_generator*/
.grid_generator div:nth-child(-n+3){
    font-weight: bold;
}