{% extends 'product/base.html' %}

{% block content %}
{% load staticfiles %}

<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<!-- ================== END PAGE CSS STYLE ================== -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'js/loadingOverlay.js' %}"></script>
<script src="{% static 'js/grid.js' %}"></script>
<!-- ================== END BASE JS ================== -->

<div id="main-dashboard-inner-container-tips">
    <div>
        <h5 style="font-weight: bold">TIPS</h5>
        <p>If your product does not contain the raw material Ext TiO2, it is recommended to set its specific gravity to 1 and all other values to 0, otherwise it will not be possible to continue.
        </p>
        <p>Insert the values into the yellow editable cells</p>
    </div>
</div>
<div class="main-dashboard-inner-grid-container">
    <div>Insert number of raw materials<input type="number" id="main-dashboard-inner-grid-input-1" placeholder="Insert number - min num 5"></div>
    <div>Insert number of bases<input type="number" id="main-dashboard-inner-grid-input-2" placeholder="Insert number - min num 2"></div>
    <button id="main-dashboard-inner-grid-container-btn-generateTable" type="button" class="btn btn-primary" onclick=generateTable()>Generate table</button>
    <hr>

</div>

<input id="main-dashboard-inner-grid-container-input-formula-name" type="text" name="firstname" placeholder="Type product's name"><br>
<div id = "main-dashboard-inner-grid-container-select">Select your currencies  <select id="main-dashboard-inner-grid-container-select-formula-currency">
    </select></div>
<br>


<div id="main-dashboard-inner-container-table-bases"></div>
<br>
<div id="main-dashboard-inner-grid-container-addremove">
    <button id="main-dashboard-inner-grid-container-addremove-btn-add" type="button" class="btn btn-info btn-xs" onclick="addMoreLines()">
        <span class="glyphicon glyphicon-plus"></span>
         raw material
    </button>
    <button id="main-dashboard-inner-grid-container-addremove-btn-remove" type="button" class="btn btn-info btn-xs" onclick="removeLastRawMatAdded()">
        <span class="glyphicon glyphicon-minus"></span>
         last raw material
    </button>
</div>
<button id = "main-dashboard-inner-grid-container-btn-calculate" type="button" class="btn btn-sm" onclick=generateDataFromServer()>Calculate</button>
<br>
<div id="container">
    <div id="main-dashboard-inner-table-fillcalculation">
        <table>
			<caption class="table-caption">Fill level calculation</caption>
			<thead>
				<tr><th>Volume TiO<sub>2</sub> Slurry (%<sub>v/v</sub>)</th>
				<th>Fill level (%<sub>v/v</sub>)</th>
				<th>Definitive fill level</th>
			</tr></thead>
			<tbody class="table-body">
				<tr>
                    <td></td>
                    <td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
    </div>
    <div id="main-dashboard-inner-colorstrength">
            <p>Acceptability range for <b>COLOR STRENGTH</b></p>
            <div class="main-dashboard-inner-grid-container-colorstrength">
                <div>Inferior Range<input id="main-dashboard-inner-grid-input-3" type="number" value=98 placeholder="98" readonly></div>
                <div>Superior Range<input id="main-dashboard-inner-grid-input-4" type="number" value=102 placeholder="102" readonly></div>
            </div>
            <br>
            <button id="main-dashboard-inner-colorstrength-btn-verify" onclick="startLabTest()">Start Laboratory Test</button>
    </div>
    <div id="main-dashboard-inner-colorstrength-checktest">
        <p>Insert result of Laboratory Test</p>
    </div>
</div>
<br>
<div id="main-dashboard-inner-table-master">
    <table>
        <caption class="table-caption">MASTER</caption>
        <thead>
            <tr><th>Raw material</th>
            <th>TiO<sub>2</sub> removing [ml]</th>
            <th>%<sub>v/v</sub></th>
            <th>g/100mL</th>
            <th>%<sub>w/w</sub></th>
            <th style="width: 125px;">Formula Cost</th>
        </tr></thead>
        <tbody>
        </tbody>
    </table>
</div>
<br>

<div id="main-dashboard-form-save">
    <form action='.' method='POST'> {% csrf_token %}
        <input type='hidden' name='main-dashboard-form-save-input-name' />
        <input type='hidden' name='main-dashboard-form-save-input-data' />
        <input type='hidden' name='main-dashboard-form-save-input-currency' />
        <input type='hidden' name='main-dashboard-form-save-input-fillvl' />
        <input type='hidden' name='main-dashboard-form-save-input-revision'/>
        <input type='hidden' name='main-dashboard-form-save-input-pk' />
        <input type='submit' onclick=saveProduct() value='Save' />
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ERROR</h4>
        </div>
        <div class="modal-body">
            <p id="msg-modal"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        
    </div>
</div>
<br>
{% endblock %}