{% extends 'product/base.html' %} 
{% block content %}
{% load staticfiles %}


<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<style>
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
</style>
<!-- ================== END PAGE CSS STYLE ================== -->


<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'js/loadingOverlay.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>  
<script src="{% static 'js/utils.js' %}"></script>
<!-- ================== END BASE JS ================== -->


<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script type="text/javascript">
	var foo = [];
	var foo2 = [];
	var element_name = ['Base 1 (Pastel)', 'TiO2 Slurry', 'Base 2', 'Base 3', 'Base4', 'Base5', 'Base6', 'Base7', 'Base8', 'Base9'];
	var max_of_array = 0;
	var num = 0
	var pk = '{{prod_pk}}'
	var rev = '{{prod_rev}}'
	var revv = String(rev)
	var bases_num = '{{bases_num}}'
	var currency = '{{prod_currency}}'
	var prod_admin = '{{prod_admin}}'
	var history_id = '{{history_id}}'
	// var lvl_fill_prod = '{{prod_lvl_fill}}'
</script>
<!-- ================== END PAGE LEVEL JS ================== -->

<div id="main-dashboard-inner">
	<h2>{{prod_name}}</h2>
	<h4>revision: {{prod_rev}}</h4>

	<table id="main-dashboard-inner-detailpage-table-bases">   
		<thead>
			{% for itemlists in list %}
				{% if forloop.counter0 <= 1 %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
							<th>
								{{item | safe}}
							</th>
							{% else %}
								<th style="visibility:hidden;"></th>
							{% endif %} 
						{% endfor %}           
					</tr>
				{% endif %}
			{% endfor %}           
		</thead>
		<tbody>
			{% for itemlists in list %}
				{% if forloop.counter0 > 1 and not forloop.last %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
								<td>
									{{item}}
								</td>
							{% else %}
								<td></td>
							{% endif %} 
						{% endfor %}       
					</tr>
				{% endif %}
			{% endfor %}      
		</tbody>
		<tfoot>
			{% for itemlists in list %}
				{% if forloop.last %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
								{% if forloop.first %}
								<td colspan="3">
									{{item}}
								</td>
								{% else %}
									<td>{{item}}</td>
								{% endif %}
							{% else %}
								<td></td>
							{% endif %} 
						{% endfor %}       
					</tr>
				{% endif %}
			{% endfor %}    		
		</tfoot>
	</table>

	<div id="myGeneratedTable" style="margin-top: 20;"></div>
	<div id="main-dashboard-inner-detailpage-table-fillvl">
		<table>
			<caption class="table-caption">Fill level calculation</caption>
			<thead>
				<th>Volume TiO<sub>2</sub> Slurry (%<sub>v/v</sub>)</th>
				<th>Fill level (%<sub>v/v</sub>)</th>
				<th>Definitive fill level</th>
			</thead>
			<tbody class="table-body">
				<tr>
					{% for item in prod_lvl_fill %}
					<td>
						{{item}}
					</td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div id="main-dashboard-inner-detailpage-table-master">
			<table>
				<caption class="table-caption">MASTER</caption>
				<thead>
					<th>Raw material</th>
					<th>TiO<sub>2</sub> removing [ml]</th>
					<th>%<sub>v/v</sub></th>
					<th>g/100mL</th>
					<th>%<sub>w/w</sub></th>
					<th style="width: 125px;">Formula Cost [{{prod_currency}}]</th>
				</thead>
				<tbody>
					{% for items in master %}
					<tr>
						{% for item in items %}
						<td>{{item}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	<br>

	<script>
		console.log("bases_num -> "+bases_num)
		for(var i=3; i<bases_num+3; i++){
			$('#main-dashboard-inner-detailpage-table-bases thead tr:nth-child(1) th:eq('+i+')').attr('colspan', '5')
			$('#main-dashboard-inner-detailpage-table-bases thead tr:nth-child(1) th:eq('+i+')').css('text-align', 'center');
			$('#main-dashboard-inner-detailpage-table-bases thead tr:nth-child(1) th:eq('+i+')').css('font-size', 'larger');
		}
	</script>
	<hr/>
</div>

<div id="main-dashboard-detailpage-btn-container">
  <a class="btn btn-warning btn-detail-update" href="{% url 'product_update' pk=prod_pk %}">Update</a>
  <button type="button" id="btn-detail-delete" class="btn btn-danger btn-detail-delete">Delete</button>
  <a class="btn btn-success btn-detail-export"  onclick=download_csv(revv)>Export as csv</a>
</div>

{% include 'product/modal_erase_history.html' %}
{% endblock %}

<!-- Variable    	Description
loop.index  	 	The current iteration of the loop. (1 indexed)
loop.index0 	 	The current iteration of the loop. (0 indexed)
loop.revindex    	The number of iterations from the end of the loop (1 indexed)
loop.revindex0   	The number of iterations from the end of the loop (0 indexed)
loop.first  	 	True if first iteration.
loop.last   	 	True if last iteration.
loop.length 	 	The number of items in the sequence.
loop.cycle  	 	A helper function to cycle between a list of sequences. See the explanation below.
loop.depth  	 	Indicates how deep in a recursive loop the rendering currently is. Starts at level 1
loop.depth0 	 	Indicates how deep in a recursive loop the rendering currently is. Starts at level 0
loop.previtem    	The item from the previous iteration of the loop. Undefined during the first iteration.
loop.nextitem    	The item from the following iteration of the loop. Undefined during the last iteration.
loop.changed(*val)  True if previously called with a different value (or not called at all). -->