{% extends 'product/base.html' %}
{% block content %}
{% load staticfiles %}

<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
</style>
<!-- ================== END PAGE CSS STYLE ================== -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{% static 'js/lib/loadingOverlay.js' %}"></script>
<script src="{% static 'js/grid.js' %}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE JS ================== -->
<script type="text/javascript">
    var foo = [];
    var foo2 = [];
    var element_name = ['Base 1 (Pastel)', 'TiO2 Slurry', 'Base 2', 'Base 3', 'Base4', 'Base5', 'Base6', 'Base7', 'Base8', 'Base9'];
    var max_of_array = 0;
    var num = 0
    var pk = '{{prod_pk}}'
    var rev = '{{prod_rev}}'
    rev = parseInt(rev) + 1
    var prod_currency = '{{prod_currency}}'
    var prod_admin = '{{prod_admin}}'
    var lvl_fill_prod = '{{prod_lvl_fill}}'

    var bases_num = '{{bases_num}}'
</script>
<!-- ================== END PAGE JS ================== -->

<div id="main-dashboard-inner">
	<h1>{{prod_name}}</h1>
	<h4>revision: <strong>{{prod_rev}}</strong></h4>

	<table id="main-dashboard-inner-table-bases">   
		<thead>
			{% for itemlists in list %}
				{% if forloop.counter0 <= 1 %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
							<th>
								{{item | safe}}
							</th>
							{% else %}
								<th style="visibility:hidden;"></th>
							{% endif %} 
						{% endfor %}           
					</tr>
				{% endif %}
			{% endfor %}           
		</thead>
		<tbody>
			{% for itemlists in list %}
				{% if forloop.counter0 > 1 and not forloop.last %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
								<td>
									{{item}}
								</td>
							{% else %}
								<td></td>
							{% endif %} 
						{% endfor %}       
					</tr>
				{% endif %}
			{% endfor %}      
		</tbody>
		<tfoot>
			{% for itemlists in list %}
				{% if forloop.last %}
					<tr>
						{% for item in itemlists %}
							{% if item != None %}
								{% if forloop.first %}
								<td colspan="3">
									{{item}}
								</td>
								{% else %}
									<td>{{item}}</td>
								{% endif %}
							{% else %}
								<td></td>
							{% endif %} 
						{% endfor %}       
					</tr>
				{% endif %}
			{% endfor %}    		
		</tfoot>
	</table>

    <br>
    <button id = "main-dashboard-inner-updatepage-grid-container-btn-calculate" type="button" class="btn btn-sm" onclick=generateDataFromServer()>Calculate</button>
    <br>

    <div id="container">
        <div id="main-dashboard-inner-table-fillcalculation">
            <table>
                <caption class="table-caption">Fill level calculation</caption>
                <thead>
                    <th>Volume TiO<sub>2</sub> Slurry (%<sub>v/v</sub>)</th>
                    <th>Fill level (%<sub>v/v</sub>)</th>
                    <th>Definitive fill level</th>
                </thead>
                <tbody class="table-body">
                    <tr>
                        {% for item in prod_lvl_fill %}
                        <td>
                            {{item}}
                        </td>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="main-dashboard-inner-colorstrength">
                <p>Acceptability range for <b>COLOR STRENGTH</b></p>
                <div class="main-dashboard-inner-grid-container-colorstrength">
                    <div>Inferior Range<input id="main-dashboard-inner-grid-input-3" type="number" value=98 placeholder="98" readonly></div>
                    <div>Superior Range<input id="main-dashboard-inner-grid-input-4" type="number" value=102 placeholder="102" readonly></div>
                </div>
                <br>
                <button id="main-dashboard-inner-colorstrength-btn-verify" onclick="startLabTest()">Start Laboratory Test</button>
        </div>
        <div id="main-dashboard-inner-colorstrength-checktest">
            <p>Insert result of Laboratory Test</p>
        </div>
    </div>
	<br>
	<div id="main-dashboard-inner-table-master">
			<table>
				<caption class="table-caption">MASTER</caption>
				<thead>
					<th>Raw material</th>
					<th>TiO<sub>2</sub> removing [ml]</th>
					<th>%<sub>v/v</sub></th>
					<th>g/100mL</th>
					<th>%<sub>w/w</sub></th>
					<th style="width: 125px;">Formula Cost [{{prod_currency}}]</th>
				</thead>
				<tbody>
					{% for items in master %}
					<tr>
						{% for item in items %}
						<td>{{item}}</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	<br>
    <div id="main-dashboard-form-save">
        <form action='/product/save/' method='POST'> {% csrf_token %}
            <input type='hidden' name='main-dashboard-form-save-input-name' />
            <input type='hidden' name='main-dashboard-form-save-input-data' />
            <input type='hidden' name='main-dashboard-form-save-input-currency' />
            <input type='hidden' name='main-dashboard-form-save-input-fillvl' />
            <input type='hidden' name='main-dashboard-form-save-input-revision'/>
            <input type='hidden' name='main-dashboard-form-save-input-pk' />
            <input type='submit' onclick=saveProduct() value='Save' />
        </form>
    </div>

	<script>
		console.log("bases_num -> "+bases_num)
		for(var i=3; i<bases_num+3; i++){
			$('#main-dashboard-inner-table-bases thead tr:nth-child(1) th:eq('+i+')').attr('colspan', '5')
			$('#main-dashboard-inner-table-bases thead tr:nth-child(1) th:eq('+i+')').css('text-align', 'center');
			$('#main-dashboard-inner-table-bases thead tr:nth-child(1) th:eq('+i+')').css('font-size', 'larger');
		}
	</script>
	<hr/>
</div>

    {% endblock %}