{% extends 'product/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="grid_generator">
    <div>Insert number of raw materials<input type="number" id="input_grid" placeholder="Insert number - min num 3"></div>
    <div>Insert number of bases<input type="number" id="input_grid2" placeholder="Insert number - min num 2"></div>
</div>

<button type="button" class="btn btn-xs" onclick=generateTable()>Generate table</button>

<hr>
<p id="info-test"></p>
<input id="nameProduct" type="text" name="firstname" placeholder="Type product's name"><br>
<br>


<div id="myGeneratedTable"></div>
<script src="{% static 'js/grid.js' %}"></script>  
<br>
<!-- <button id = "btn_calculate" type="button" class="btn btn-xs disabled" onclick=generateData()>Calculate</button> -->
<button id = "btn_calculate" type="button" class="btn btn-xs" onclick=generateData()>Calculate</button>
<br>
<div id="tableFillCalculation"></div>
<br>
<div id="tableMaster"></div>
<br>
{% endblock %}