{% extends 'product/base.html' %}

{% block content %}
{% load staticfiles %}

<div class="grid_generator">
    <div>Insert number of raw materials<input type="number" id="input_grid" placeholder="Insert number - min num 3"></div>
    <div>Insert number of bases<input type="number" id="input_grid2" placeholder="Insert number - min num 1"></div>
    <button id="generateBtn" type="button" class="btn btn-primary" onclick=generateTable()>Generate table</button>
    <hr>

</div>

<p id="info-test"></p>
<input id="nameProduct" type="text" name="firstname" placeholder="Type product's name"><br>
<br>


<div id="myGeneratedTable"></div>
<script src="{% static 'js/grid.js' %}"></script>  
<br>
<!-- <button id = "btn_calculate" type="button" class="btn btn-xs disabled" onclick=generateData()>Calculate</button> -->
<button id = "btn_calculate" type="button" class="btn btn-xs" onclick=generateData()>Calculate</button>
<br>
<div id="tableFillCalculation"></div>
<br>
<div id="tableMaster"></div>
<br>

<div id="save">
    <form action='.' method='POST'> {% csrf_token %}
        <input type='hidden' name='name' />
        <input type='hidden' name='data' />
        <input type='submit' onclick=saveProduct() value='Save' />
    </form>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
        <!-- Modal content-->
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">ERROR</h4>
        </div>
        <div class="modal-body">
            <p id="msg-modal"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
        
    </div>
</div>
<br>
{% endblock %}