{% extends 'product/base.html' %} 
{% block content %}
{% load staticfiles %}

<!-- script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var foo = [];
  var foo2 = [];
  var element_name = ['Base 1 (Pastel)', 'TiO2 Slurry', 'Base 2'];
  var max_of_array = 0;
  var num = 0
  var pk = '{{prod_pk}}'
  console.log(pk)
</script>

<h2>{{prod_name}}</h2>

<table class="display" style="width:100%" id="tdetail">
                  <!-- thead -->
    <thead>
        <tr>
            <th style="visibility:hidden;"></th>
            <th style="visibility:hidden;"></th>
            <th style="visibility:hidden;"></th>
            {% for itemlists in list %} 
              {% for k,v in itemlists.items %}
                {% if k == "bases" %}
                <script type="text/javascript">
                  b = "{{v|length}}"
                  console.log("number of bases founded -> "+b)
                  if(num <= b.length){
                    $("tr:nth-child(1)").first().append("<th colspan='5'>"+element_name[num]+"</th>");
                    num++
                  }
                  </script>
                {% endif %}
              {% endfor %}
            {% endfor %}
        </tr>
        <tr>
            <th>Raw material</th>
            <th>Specific weight [g/mL]</th>
            <th>RM cost [$/L]</th>

            {% for itemlists in list %}
                {% for k,v in itemlists.items %}
                  {% if k == "bases" %}
                    <!-- script -->
                    <script type="text/javascript"> 
                      a = "{{v|length}}";
                      foo2.push(a);
                      console.log(foo2);
                      max_of_array = Math.max.apply(Math, foo2);
                      console.log(max_of_array);
                    </script>
                  {% endif %}
                {% endfor %}
              {% endfor %}
               <!-- script --> 
              <script>
                var i;
                for (i = 0; i < max_of_array; i++) { 
                  $("tr:nth-child(2)").append("<th>%w/w</th>");
                  $("tr:nth-child(2)").append(" <th>mL/100g</th>");
                  $("tr:nth-child(2)").append("<th>%v/v</th>");
                  $("tr:nth-child(2)").append("<th>mL/1000g</th>");
                  $("tr:nth-child(2)").append("<th>Formula Cost [$/L]</th>");     
                }
              </script>
        </tr>
    </thead>
                  <!-- tbody -->
    <tbody>
        {% for itemlists in list %} 
        <tr>
          {% for k,v in itemlists.items %}
            {% if k != "bases" %}
            <td>{{v}}</td>
            {% endif %}
          {% endfor %}
                  <!-- show the bases -->
          {% for k,v in itemlists.items %}
            {% if k == "bases" %}
              {%for element in v%}
                <td>{{element.g_100g}}</td>
                <td>{{element.ml_100g}}</td>
                <td>{{element.v_100v}}</td>
                <td>{{element.ml_1000ml}}</td>
                <td>{{element.formula_cost}}</td>
              {% endfor %} 
            {% endif %}
          {% endfor %}
        {% endfor %}
        </tr>
    </tbody>
                  <!-- footer -->
    <tfoot>
        <th style="visibility:hidden;"></th>
        <th style="visibility:hidden;"></th>
        <th style="visibility:hidden;"></th>
        {% for itemlists in list %} 
          {% for k,v in itemlists.items %}
            {% if k == "bases" %}
              {%for element in v%}
              <th style="visibility:hidden;"></th>
              {% endfor %} 
            {% endif %}
          {% endfor %}
        {% endfor %}
    </tfoot>
</table>

<script src="{% static 'js/utils.js' %}"></script>  

<hr/>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">DELETE {{prod_name}}</h4>
        </div>
        <div class="modal-body">
          <p>Delete this product?</p>
        </div>
        <div class="modal-footer">
            <form action="{% url 'product_delete' pk=prod_pk %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

        </div>
      </div>
      
    </div>
  </div>

  <a class="btn btn-default" href="{% url 'product_update' pk=prod_pk %}">Update</a>

  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">Delete</button>

{% endblock %}