{% extends 'product/base.html' %} 
{% block content %}

<hr/>

{% comment %}
Loop through the dictionary's items to get the keys and values:
  for key, value in test.items
{% endcomment %}
{% comment %}
<h2>{{prod_name}}</h2>
{% for itemlists in list %}
<ul>
  {% for k,v in itemlists.items %}
  <li>
    {% if k != "bases" %}
    <a href="#">{{ k }} : {{v}}</a>
    {% else %}
    {%for element in v%}
    <p>base name: {{ element.name}}</p>
    <p>base %w/w: {{ element.g_100g}}</p>
    {% endfor %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}

<hr/>

<h2>{{prod_name}}</h2>
{% for itemlists in list %}
<table style="width:70%">
  {% for k,v in itemlists.items %}
  <tr>
    {% if k != "bases" %}
    <th>{{k}}:</th>
    <td>{{v}}</td>
    {% else %}
    {%for element in v%}
    <p>base name: {{ element.name}}</p>
    <p>base %w/w: {{ element.g_100g}}</p>
    {% endfor %}
    {% endif %}
  </tr>
  {% endfor %}
</table>
{% endfor %}

<hr/>
{% endcomment %}  
<h2>{{prod_name}}</h2>
{% for itemlists in list %}
<table width="400" style="float: Left; margin-top: 52px;">
  <tr>
    {% for k,v in itemlists.items %}
    {% if k != "bases" %}
    <th>{{k}}</th>
    {% endif %}
    {% endfor %}
  </tr>
  <tr>
    {% for k,v in itemlists.items %}
    {% if k != "bases" %}
    <td>{{v}}</td>
    {% endif %}
    {% endfor %}
  </tr>
</table>
{% endfor %}

<div class="container testimonial-group" style="padding-left: 100px;">
  <div class="row text-center">
    {% for itemlists in list %} 
      {% for k,v in itemlists.items %} 
        {% if k == "bases" %} 
          {%for element in v%}
            <div class="col-xs-4">
            <table>
                <caption>{{ element.name}}</caption>
              <tr>
                <th>%w/w</th>
                <th>mL/100g</th>
                <th>%v/v</th>
                <th>mL/1000g</th>
                <th>Formula Cost [$/L]</th>
              </tr>
              <tr>
                <td>{{element.g_100g}}</td>
                <td>{{element.ml_100g}}</td>
                <td>{{element.v_100v}}</td>
                <td>{{element.ml_1000ml}}</td>
                <td>{{element.formula_cost}}</td>
              </tr>
            </table>
          </div>
            {% endfor %} 
          {% endif %} 
        {% endfor %}
      {% endfor %}
  </div>
</div>

{% endblock %}