{% extends 'product/base.html' %} 
{% block content %}

<hr/>

{% comment %}
Loop through the dictionary's items to get the keys and values:
  for key, value in test.items
{% endcomment %}
{% comment %}
<h2>{{prod_name}}</h2>
{% for itemlists in list %}
<ul>
  {% for k,v in itemlists.items %}
  <li>
    {% if k != "bases" %}
    <a href="#">{{ k }} : {{v}}</a>
    {% else %}
    {%for element in v%}
    <p>base name: {{ element.name}}</p>
    <p>base %w/w: {{ element.g_100g}}</p>
    {% endfor %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endcomment %}



<h2>{{prod_name}}</h2>

      <table class="table table-condensed table-bordered table-hover">
          <thead>
            <tr>
              <th>Raw material</th>
              <th>Specific weight</th>
              <th>RM cost</th>
              <th>Bases</th>
            </tr>
          </thead>
          <tbody>

                {% for itemlists in list %} 
                <script type="text/javascript"> 
                  var a = "{{itemlists|safe}}";
                  console.log(a);
               </script>
                <tr>
                {% for k,v in itemlists.items %}
                {% if k != "bases" %}
                <td>{{v}}</td>
                <script type="text/javascript"> 
                  var a = "{{v}}";
                  console.log(a);
               </script>
                {% endif %}
                {% endfor %}
                {% for k,v in itemlists.items %}
                {% if k == "bases" %}
                <td>
                  <table class="table table-condensed table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>%w/w</th>
                          <th>mL/100g</th>
                          <th>%v/v</th>
                          <th>mL/1000g</th>
                          <th>Formula Cost [$/L]</th>
                        </tr>
                      </thead>
                      {%for element in v%}
                      <tbody>
                        <tr>
                          <td>{{element.name}}</td>
                          <td>{{element.g_100g}}</td>
                          <td>{{element.ml_100g}}</td>
                          <td>{{element.v_100v}}</td>
                          <td>{{element.ml_1000ml}}</td>
                          <td>{{element.formula_cost}}</td>
                        </tr>
                      </tbody>  
                  {% endfor %} 
                  </table>
                </td>
                {% endif %}
                {% endfor %}
              </tr>
                {% endfor %}
          </tbody>
        </table>

{% endblock %}